$font-family: Roboto, -apple-system, BlinkMacSystemFont, system-ui, 'Open Sans', 'Segoe UI', Helvetica, Arial, sans-serif;

$color-main: #352f53;
$color-main2: #9c73ab;
$color-main3: #6a2776;
$color-background: #b5d3dd;
$color-white: #fefefe;
$color-grey: #dbdbdb;
$color-grey2: #919191;
$color-secundary: #1e7789;
